flows.json
[
    {
        "id": "5f06c812fee9c317",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a5249aff8f14129",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0199640dc61c098f",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "dvdrental",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "",
        "passwordFieldType": "str"
    },
    {
        "id": "bfae8a9a49c39d11",
        "type": "postgreSQLConfig",
        "name": "simen",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "simen",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "postgres",
        "passwordFieldType": "str"
    },
    {
        "id": "830ea4b9e10e7bdc",
        "type": "mqtt in",
        "z": "5f06c812fee9c317",
        "name": "",
        "topic": "/test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2a5249aff8f14129",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "94c62f312c87da41"
            ]
        ]
    },
    {
        "id": "3d3173ac35ec548a",
        "type": "mqtt out",
        "z": "5f06c812fee9c317",
        "name": "",
        "topic": "/test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2a5249aff8f14129",
        "x": 350,
        "y": 560,
        "wires": []
    },
    {
        "id": "c3993baac9627419",
        "type": "inject",
        "z": "5f06c812fee9c317",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "\"hallo\"",
        "payloadType": "str",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "3d3173ac35ec548a"
            ]
        ]
    },
    {
        "id": "94c62f312c87da41",
        "type": "debug",
        "z": "5f06c812fee9c317",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 500,
        "wires": []
    },
    {
        "id": "2ae7cebe578a6eef",
        "type": "postgresql",
        "z": "5f06c812fee9c317",
        "name": "postgres",
        "query": "SELECT title FROM film where film_id={{{msg.film_id}}};",
        "postgreSQLConfig": "0199640dc61c098f",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 400,
        "y": 720,
        "wires": [
            [
                "94c62f312c87da41"
            ]
        ]
    },
    {
        "id": "d0e62b8268508542",
        "type": "inject",
        "z": "5f06c812fee9c317",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "film_id",
                "v": "133",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "2ae7cebe578a6eef"
            ]
        ]
    },
    {
        "id": "2e4dd4f8ea9b5211",
        "type": "mqtt in",
        "z": "5f06c812fee9c317",
        "name": "",
        "topic": "/postgres",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2a5249aff8f14129",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 260,
        "wires": [
            [
                "d1545a0f4b8b46f9"
            ]
        ]
    },
    {
        "id": "d1545a0f4b8b46f9",
        "type": "debug",
        "z": "5f06c812fee9c317",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.record",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "a3344482a15476b7",
        "type": "rpi-sensehat in",
        "z": "5f06c812fee9c317",
        "name": "",
        "motion": false,
        "env": true,
        "stick": true,
        "x": 160,
        "y": 940,
        "wires": [
            [
                "b943078cba63ef0f"
            ]
        ]
    },
    {
        "id": "dc32b71c297b1fa2",
        "type": "function",
        "z": "5f06c812fee9c317",
        "name": "preparequery",
        "func": "msg.query =\"INSERT INTO environment (measurement) values ($1)\";\nmsg.params=[msg.payload];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1100,
        "wires": [
            [
                "174adf6316713cc4"
            ]
        ]
    },
    {
        "id": "174adf6316713cc4",
        "type": "postgresql",
        "z": "5f06c812fee9c317",
        "name": "",
        "query": "",
        "postgreSQLConfig": "bfae8a9a49c39d11",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 650,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b943078cba63ef0f",
        "type": "delay",
        "z": "5f06c812fee9c317",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 1120,
        "wires": [
            [
                "dc32b71c297b1fa2",
                "94c62f312c87da41"
            ]
        ]
    }
]